BasedOnStyle: Google
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

AccessModifierOffset: -4
NamespaceIndentation: None

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Attach
PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
IncludeBlocks: Preserve

Standard: c++17